:root {
    --bg: white;
    --bglight: #F8F4F2;
    --text: #333;
    --textLight: #666;
    --btn: #ff4300;
    --btnHover: #ff5a00;
    --btnBlack: #343A40; 
    --shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.3);
    
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
}

a {
    color: var(--btn);
    text-decoration: none;
}

a:hover {
    color: var(--text);
}