/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/pagination/pagination.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MlbTl {
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

}

.pagination_button__63zCc {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--shadow);
    background-color: var(--bg);
}

.pagination_button__63zCc:hover {
    background-color: var(--btnHover);
    box-shadow: var(--shadow);
}


/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/search/search.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.search_container__jAxK9 {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 1rem;
  width: max-content;
}

.search_input__vdsRR {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/users/users.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.users_container__8LN16 {  
    background-color: var(--bglight);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    box-shadow: var(--shadow);
}

.users_top__0diO6 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.users_table__Ll_mR {
    width: 100%; 
}

.users_table__Ll_mR td {
    padding: 1rem;
    
}

.users_table__Ll_mR th {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--bg);
}

.users_user__aIQGo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.users_userImage__l_CGj { 
    border-radius: 50%; 
    object-fit: cover;
}

.users_buttons__WTiXm {
    display: flex;
    gap: 1rem;
}

.users_button__l22ky {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.users_status__yI_IO {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--bg);
}

.users_active__NxFYO {
    background-color: #DFF6E4;
    color: #2D9C6F;
}

.users_inactive__44at_ {
    background-color: #FCECEA;
    color: #FF5757;
}


.users_view__0pooK {
    background-color: teal;
    color: var(--bg);
}

.users_delete__b_veK {
    background-color: crimson;
    color: var(--bg);
}
 
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/uis/button.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.button_button__HLV0Z {
    background-color: var(--btn);
    color: var(--bg);
    padding: 1rem;
    border-radius: 1rem;
    font-size: small;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;  
    transition: all 0.3s ease-in-out;
}

.button_button__HLV0Z:hover {
    background-color: var(--btnHover);
}

.button_icon__bj1Ag {
    margin-right: 0.5rem;   
}

