.container {
    background-color: var(--bglight);
    border-radius: 1rem;
    padding: 2rem; 
    box-shadow: var(--shadow);
    margin-top: 2rem;
}

.title { 
    font-weight: 200;
    margin-bottom: 2rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td {
    padding: 1rem;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userImage {
    border-radius: 50%;
    object-fit: cover;
}

.status {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--bg);
}

.completed {
    background-color: #DFF6E4;
    color: #2D9C6F;
}

.processing{
    background-color: #FCECEA;
    color: #FF5757;
}

.pending{
    background-color: #daa52042;
    color: #daa520;
}
