.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Faded white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the loading overlay is on top */
  }
  
  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  