/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/card/card.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.card_container__iVqz_ {
    display: flex; 
    background-color: var(--bglight);
    color: var(--text);
    padding: 2rem;
    border-radius: 1rem;
    gap: 2rem;
    cursor: pointer;
    box-shadow:  var(--shadow); 
}

.card_container__iVqz_:hover {
    background-color: var(--btnHover);
    color: var(--bg);

}
.card_texts___nHU6 {
    display: flex;
    flex-direction: column; 
    gap: 2rem;
}

.card_number__4sjYn {
    font-size: 2.4rem;
    font-weight: 700;
}

.card_details__LAFZD {
    font-size: 1.4rem;
    font-weight: 400; 
}

.card_positive__cCgwz {
    color: green;
}
.card_negative__KLipm {
    color: red;
}

/* Path: baston/bastonapp/bastonapps/nextadmin/app/ui/dashboard/card/card.module.css */


/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/chart/chart.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.chart_container__JztY_ {
    height: 30rem;
    background-color: var(--bglight);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow);
}

.chart_title__xbaI9 { 
    font-weight: 200;
    margin-bottom: 2rem;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/rightbar/rightbar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.rightbar_container__euYye {
    position: fixed;
}



.rightbar_item__bPc4s {
    position: relative;
    background: linear-gradient(to top, var(--btnBlack), var(--btnHover));
    border-radius: 1rem;
    padding: 1rem 0;
    margin-bottom: 2rem;

}


.rightbar_bgContainer__MxM1_ { 
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.rightbar_bg__BduY0 {
    object-fit: cover;
    opacity: 0.1;
}

.rightbar_texts__4zVY8 {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    padding: 1rem;
    font-size: medium;
    color: var(--bg);  
}

.rightbar_notification__qWTG_ {
    font-weight: 700;
    font-size: 2.5rem;
}

.rightbar_title__ZHPzU { 
    font-weight: 600;
    color: var(--bg);
    padding: 1rem;
    font-size: 2rem;
    color: var(--bg); 
}

.rightbar_desc__1xAFs { 
    color: var(--bg);
    font-size: medium; 
}

.rightbar_button__zi_a2 {
    background-color: var(--btn);
    color: var(--bg);
    padding: 1rem;
    border-radius: 1rem;
    font-size: medium;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    gap: 2rem;
    transition: all 0.3s ease-in-out;
}

.rightbar_button__zi_a2:hover {
    background-color: var(--btnHover);
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/transactions/transactions.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.transactions_container__s2FuA {
    background-color: var(--bglight);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: var(--shadow);
}

.transactions_title__5ZmTi { 
    font-weight: 200;
    margin-bottom: 2rem;
}

.transactions_table__qvfCq {
    width: 100%;
    border-collapse: collapse;
}

.transactions_table__qvfCq td {
    padding: 1rem;
}

.transactions_user__l0sQw {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.transactions_userImage__W8yIA {
    border-radius: 50%;
    object-fit: cover;
}

.transactions_status__Sq4DS {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--bg);
}

.transactions_active__c9q6U {
    background-color: #DFF6E4;
    color: #2D9C6F;
}

.transactions_inactive__glhxN {
    background-color: #FCECEA;
    color: #FF5757;
}

