.container {
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

}

.button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--shadow);
    background-color: var(--bg);
}

.button:hover {
    background-color: var(--btnHover);
    box-shadow: var(--shadow);
}

